@page "/"
@using UI.Pages.TimeTracking

<PageTitle>Home</PageTitle>

<AuthorizeView>
    <Authorized>
        <CurrentShift/>
    </Authorized>
    <NotAuthorized>
        <p>Please register or login to continue</p>
    </NotAuthorized>
</AuthorizeView>